:root {
  --primary-color-gold: #9e7ff6;
  --primary-color-gray: #111111;
  --secondary-color-black: #17192b;
  --secondary-color-dark-gray: #242b37;
  --secondary-color-light-gray: #5c6779;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to right,
      var(--primary-color-gray) 0 40%,
      rgba(92, 103, 121, 0.1) 40%
    ),
    url("/images/hero-bg-desktop.jpg");
  background-size: cover;
}

.hero-section {
  color: #fff;
  width: 40%;
  margin-left: 10.3rem;
  padding-top: 4rem;
}

/* .logo:link,
.logo:visited {
  color: #fff;
  text-decoration: none;
} */

.logo {
  display: inline-block;
  margin-bottom: 9.5rem;
}

.hero-text {
}

.hero-header {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 80px;
  margin-bottom: 1rem;
}

.hero-textbody {
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.hero-cta:link,
.hero-cta:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  font-size: 1.06rem;
  font-weight: 600;
  padding: 1rem 3rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.hero-cta:hover,
.hero-cta:active {
  background-color: #fff;
  color: var(--primary-color-gray);
}
