:root {
  --primary-color-gold: #9e7ff6;
  --primary-color-gray: #111111;
  --secondary-color-black: #17192b;
  --secondary-color-dark-gray: #242b37;
  --secondary-color-light-gray: #5c6779;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}

/* Home - Hero section */

.header {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 6rem;
  background: linear-gradient(
      to right,
      var(--primary-color-gray) 0 40%,
      rgba(92, 103, 121, 0.1) 40%
    ),
    no-repeat url("/images/hero-bg-desktop.jpg");
  background-size: cover;
  background-position: 50%;
}

.hero-section {
  color: #fff;
  max-width: 40%;
  margin-left: 10.3rem;
  padding-top: 4rem;
}

/* .logo:link,
.logo:visited {
  color: #fff;
  text-decoration: none;
} */

.logo {
  display: inline-block;
  margin-bottom: 9.5rem;
}

.hero-text {
}

.hero-header {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 80px;
  margin-bottom: 1rem;
}

.hero-textbody {
  max-width: 27.8125rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem;
}

.hero-cta:link,
.hero-cta:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  padding: 1.5rem 3rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.hero-cta:hover,
.hero-cta:active {
  background-color: #fff;
  color: var(--primary-color-gray);
}

/* Features section */

.features {
}

.features-section {
  /* switch to -4rem when media queries are fixed */
  margin: -4rem 10.3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 7.81rem;
  position: relative;
  z-index: 999;
}

.feature-item .feature-image {
  position: relative;
}

#feature-background--first {
  width: 110%;
  height: 20rem;
  position: absolute;
  top: 45%;
  left: -10.3rem;
  z-index: -999;
}

#feature-background--first img {
  width: 100%;
  height: 100%;
}

#feature--first .feature-image {
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.5);
}

#feature--second .feature-image {
  overflow: visible;
}

#feature--second .feature-image::before {
  content: url(/pattern-lines.svg);
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 1000;
}

/* #feature--second::after {
  content: url(/pattern-curve-top-left.svg);
  display: block;
  width: 75%;
  height: 20rem;
  position: absolute;
  background-size: 100% 100%;
  top: 47.5%;
  right: -10.3rem;
  z-index: 999;
} */

#feature-background--second {
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 47.5%;
  right: -10.3rem;
  z-index: 999;
}

#feature-background--second img {
  width: 100%;
  height: 100%;
}

.feature-image {
  /* height: 45rem;
  width: 33.75rem; */
  flex: 1 0 33.75rem;
  overflow: hidden;
}

.image--decorated {
  position: relative;
}

.image--zoomedIn {
  transform: scale(2);
  object-position: 0% -3.5rem;
}

.feature-textbody {
  height: 17.2rem;
  margin-bottom: 2rem;
  flex-shrink: 2;
  color: var(--secondary-color-dark-gray);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.feature-textbody::before {
  content: url(/public/pattern-divide.svg);
  display: inline-block;
  margin-bottom: 3rem;
}

.feature-textbody h2 {
  width: 80%;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: 3rem;
  text-align: left;
  margin-bottom: 2rem;
}

/* Menu Highlights section */

.menuHighlights-section {
  background-color: var(--primary-color-gray);
  color: #fff;
}
.menuHighlights {
  position: relative;
  padding: 8rem 10.3rem 4rem 10.3rem;
  display: flex;
  gap: 5rem;
  flex: 1 1 auto;
}

.menuHighlights::before {
  content: url(/public/pattern-divide.svg);
  position: absolute;
}

.menuHighlights-textbody {
  /* max-width: 27.8125rem; */
  padding: 4rem 0;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.875rem;
  flex: 2 2 auto;
}

.menuHighlights-textbody h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.5px;
}
.menuHighlights-items {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menuHighlights-item {
  padding-bottom: 1.5rem;
  display: flex;
  gap: 4rem;
  border-bottom: 2px solid rgba(92, 103, 121, 0.3);
}

.menuHighlights-items .menuHighlights-item:last-child {
  border-bottom: none;
}

.item-image {
  max-width: 10rem;
  max-height: 6rem;
  display: flex;
  flex: 1 0 10rem;
}

.item-image::after {
  content: url(/pattern-divide.svg);
  margin: 1rem 0 0 -2.5rem;
}

.item-image img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999;
}

.item-textbody {
  max-width: 21.875rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.625rem;
}

.item-textbody h3 {
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}

/* Events section */

.events-section {
}

.events {
  position: relative;
  margin: 4rem 10.3rem;
  display: flex;
  gap: 2rem;
}

.events::before {
  content: url(/pattern-lines.svg);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, -50%);
  z-index: 1000;
}

.events-background {
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -20%);
}

.events-background img {
  width: 100%;
  height: 100%;
}

.events-image {
  display: none;
  height: 45rem;
  flex: 1 0 33.75rem;
}

.events-image.events-image--active {
  display: block;
}

.events-image img {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
  object-fit: cover;
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.5);
}

.events-textbody {
  padding: 2.5rem 0rem 5rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.875rem;
}

.events-textbody .event-description h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.5px;
}

.events-textbody .event-description p {
  margin-bottom: 3rem;
}

.events-textbody .event-description {
  display: none;
}

.event-description.event-description--active {
  display: inline-block;
}

.events-cta:link,
.events-cta:visited {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 2.5px;
  margin-bottom: 3rem;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  background-color: #111;
  text-decoration: none;
  border: solid 1px #111;
  cursor: pointer;
  transition: all 0.3s;
}

.events-cta:hover,
.events-cta:active {
  color: #111;
  background-color: #fff;
}

.events-selections input {
  display: none;
}

.events-selections {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* display: grid;
  grid-template-rows: repeat(3, max-content); */
}

.events-selections label {
  position: relative;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  opacity: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.events-selections label:hover {
  opacity: 100%;
}

.events-selections label::before {
  /* TODO get rid of mouse events */
  content: url(/public/pattern-divide.svg);
  position: absolute;
  opacity: 0;
  transform: scaleX(1.5) translateX(-110%);
  z-index: -999;
}

.events-selections .events-selection--active label,
.events-selections .events-selection--active label::before {
  opacity: 100%;
}

/* Call to action section */

.callToAction-section {
  height: 15rem;
  background: url(/images/ready-bg-desktop.jpg);
  display: flex;
  align-items: center;
}

.callToAction {
  width: 100%;
  padding: 4rem 10.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.callToAction h2 {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
}

.callToAction a:link,
.callToAction a:visited {
  color: inherit;
  text-decoration: none;
  padding: 1rem 3rem;
  flex-shrink: 0;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border: solid 1px #fff;
  transition: all 0.3s;
}

.callToAction a:hover,
.callToAction a:active {
  color: #111;
  background-color: #fff;
}

/* Footer */

footer {
  padding: 4rem 10.3rem;
  color: #fff;
  background-color: #111;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  gap: 7rem;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.footer-container p {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Reservations - Hero section */

.reserveHeader {
  height: 37.5rem;
  max-width: 100%;
  background: url(/images/reservations/hero-bg-desktop.jpg) no-repeat;
}

.reserveHero {
  width: 37%;
  padding: 4rem 0 0 10.3rem;
  color: #fff;
}

.reserveHero-textbody h1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 5rem;
  letter-spacing: -1px;
}

.reserveHero-textbody p {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

#hero-cta--reserve {
  display: none;
}

.reserveMain {
  background: url(/pattern-curve-bottom-right.svg) no-repeat;
  background-size: 70% 100%;
}

.reserveContainer {
  height: 20rem;
  margin-inline: 10.3rem;
  display: flex;
  justify-content: end;
  align-items: start;
}

.reserve-positionContainer {
  position: relative;
}

.reserve-positionContainer::before {
  content: url(/pattern-lines.svg);
  position: absolute;
  bottom: -15%;
  left: -15%;
  z-index: -1;
}

.reserveForm {
  max-width: 33.75rem;
  margin-top: -20rem;
  padding: 3rem;
  background: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reserveForm input {
  font-size: 1.25rem;
}

.reserveForm input,
.custom-dropdown {
  font-family: inherit;
  border: none;
  border-bottom: solid 1px #979797;
}

.reserveForm input::placeholder,
.dropdown-value,
.dropdown-menu {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.reserveForm input::placeholder {
  opacity: 50%;
}

.inputContainer > input,
.reserveForm > button,
.partySize {
  width: 100%;
}

.inputContainer input,
fieldset input,
.dropdown-btn,
.dropdown-menu {
  padding: 1rem;
}

.reserveForm .inputContainer.error,
.inputContainer.error input::placeholder,
.dateContainer.error,
.dateContainer.error input::placeholder,
.timeContainer.error,
.timeContainer.error input::placeholder {
  color: #b54949;
}

.inputContainer.error input,
.dateContainer.error input,
.timeContainer.error input {
  border-bottom: solid 1px #b54949;
}

.error #email,
.error #fullName {
  margin-bottom: 0.5rem;
}

fieldset,
.dropdown-btn {
  border: none;
}

.dateContainer,
.timeContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dateLegend,
.timeLegend {
  flex: 1 0 auto;
}

legend {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.date-inputContainer,
.time-inputContainer {
  display: flex;
  justify-content: space-between;
}

.date-inputContainer > input,
.time-inputContainer > input {
  min-width: 0;
  width: 25%;
}

.date-inputContainer > input:last-child,
.time-inputContainer > *:last-child {
  width: 35%;
}

.custom-dropdown {
  position: relative;
}

.dropdown-btn,
.dropdown-menu {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropdown-arrow {
  transition: all 0.2s;
}

.dropdown-arrow--active {
  transform: rotate(180deg);
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  gap: 1rem;
}

.dropdown-menu li {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.check--hidden .check {
  opacity: 0;
}

.partySize {
  margin-bottom: 1rem;
  padding: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
  border-bottom: solid 1px #8e8e8e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partySize button {
  border: none;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reserveForm-submit {
  padding: 1rem 2rem;
  color: #fff;
  background: #111;
  font-size: 1.0625rem;
  line-height: 1.75rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.reserveForm-submit:hover,
.reserveForm-submit:active {
  color: #111;
  background: #fff;
}

@media (max-width: 1295px) {
  .events-cta:link,
  .events-cta:visited {
    padding: 1rem 2rem;
  }

  .reserveHero {
    padding: 4rem 0 0 5.3rem;
  }

  .reserveContainer {
    margin-inline: 5.3rem;
  }
}

@media (max-width: 1228px) {
  #feature--second .feature-textbody {
    align-self: start;
  }
}

@media (max-width: 1178px) {
  .callToAction a:link,
  .callToAction a:visited {
    padding: 1rem 3rem;
  }
}

@media (max-width: 1150px) {
  .hero-section {
    margin-left: 5.15rem;
  }

  .features-section {
    margin: -4rem 5.15rem;
  }
  .feature-image {
    flex: 1 0 27rem;
  }

  #feature--first::after {
    left: -5.15rem;
  }

  #feature-background--second {
    right: -5.15rem;
  }

  .menuHighlights {
    padding: 8rem 5.15rem 4rem 5.15rem;
  }

  .events {
    margin: 4rem 5.15rem;
  }

  .events-image {
    flex: 1 0 27rem;
  }

  .callToAction {
    padding: 4rem 5.15rem;
  }

  footer {
    padding: 4rem 5.15rem;
  }
}

@media (max-width: 1130px) {
  .reserveHero {
    padding: 4rem 0 0 2.3rem;
  }

  .reserveContainer {
    margin-inline: 2.3rem;
  }

  .reserveForm {
    max-width: 28.75rem;
  }
}

@media (max-width: 1107px) {
  .events-textbody {
    padding-right: 1rem;
  }
}

/* TODO: look into events section layout when other events are selected */
@media (max-width: 1010px) {
  .feature-item {
    gap: 2.81rem;
  }

  .events-textbody {
    padding: 2.5rem 0;
  }

  .events-selections label::before {
    transform: scaleX(1.5) translateX(-95%);
  }
}

@media (max-width: 950px) {
  .hero-section {
    margin-left: 3rem;
  }

  .features-section {
    margin: -4rem 3rem;
  }
  .feature-image {
    flex: 1 0 27rem;
  }

  #feature--first::after {
    left: -3rem;
  }

  #feature-background--second {
    right: -3rem;
  }

  #feature--second .feature-image::before {
    right: 10%;
  }

  .menuHighlights {
    padding: 8rem 3rem 4rem 3rem;
  }

  .events {
    margin: 4rem 3rem;
  }

  .events-image {
    flex: 1 0 27rem;
  }

  .callToAction {
    padding: 4rem 3rem;
  }

  .reserveHero {
    padding: 4rem 0 0 1rem;
  }

  .reserveHero-textbody h1 {
    font-size: 4rem;
  }

  .reserveHero-textbody p {
    font-size: 1.05rem;
  }

  .reserveContainer {
    margin-inline: 1rem;
  }

  footer {
    padding: 4rem 3rem;
  }
}

@media (max-width: 820px) {
  .header {
    height: 62rem;
    background: linear-gradient(
        to top,
        var(--primary-color-gray) 0 62.5%,
        rgba(92, 103, 121, 0.1) 62.5%
      ),
      no-repeat url("/images/hero-bg-tablet.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  .hero-section {
    color: #fff;
    max-width: 43.0625rem;
    margin-bottom: 3rem;
    margin-left: 0;
    padding-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-header {
    width: 50%;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -0.6px;
    line-height: 64px;
    margin-bottom: 1rem;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-textbody {
    padding-left: 2rem;
  }

  .features-section {
    margin-bottom: 5rem;
  }

  #feature--first {
    flex-direction: column;
  }

  #feature--second {
    flex-direction: column-reverse;
  }

  #feature--second .feature-image::before {
    top: 60%;
    right: 7.5%;
  }

  #feature--second .feature-textbody {
    align-self: center;
  }

  .feature-image {
    max-height: 22.5rem;
    max-width: 100%;
    flex: 1 1 auto;
  }

  .feature-image--2 {
    width: 100%;
    height: 100%;
    object-position: 100% 100%;
  }

  #feature-background--first {
    left: -24.3rem;
  }

  #feature-background--second {
    top: 65%;
  }

  /* TODO: fix image not properly fitting in container */
  .image--zoomedIn {
    width: 100%;
    height: 100%;
    transform: none;
    object-position: 100% 100%;
    box-shadow: 0 10px 70px rgba(0, 0, 0, 0.5);
  }

  .feature-textbody {
    max-width: 28.5625rem;
    text-align: center;
  }

  .feature-textbody h2 {
    margin-inline: auto;
    text-align: center;
  }

  .menuHighlights {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .menuHighlights-textbody {
    max-width: 27.8125rem;
    padding-bottom: 0;
    text-align: center;
  }

  .events-textbody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .events {
    flex-direction: column;
  }

  .event-description {
    max-width: 28.5625rem;
    text-align: center;
  }

  .events-selections {
    width: 105%;
    margin-bottom: 4rem;
    flex-direction: row;
    justify-content: space-between;
    order: -1;
  }

  .events-selections label {
    padding-bottom: 0.7rem;
  }

  .events-selections label::before {
    /* TODO get rid of mouse events */
    content: "";
    width: 25%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #9e7f66;
    opacity: 0;
  }

  .events-selections .events-selection--active label,
  .events-selections .events-selection--active label::before {
    opacity: 100%;
  }

  .callToAction {
    padding-inline: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .reserveHero {
    width: 100%;
    padding: 4rem 0 0 0;
  }

  #dine-logo--reserve {
    margin-left: 3rem;
    margin-bottom: 5rem;
  }

  .reserveHero-textbody {
    text-align: center;
  }

  .reserveHer0-textbody h1 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -0.6px;
  }

  .reserveHero-textbody p {
    width: 75%;
    margin-inline: auto;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .reserveMain {
    background: #fff;
  }

  .reserveContainer {
    height: 27.1875rem;
    justify-content: center;
  }

  .reserve-positionContainer::before {
    display: none;
  }

  .reserveForm {
    max-width: 33.75rem;
    margin-top: -10rem;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
  }

  footer {
    padding: 4rem 3rem;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  #feature--second .feature-image::before {
    right: 10%;
  }

  .events-selections {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (max-width: 500px) {
  .reserveForm {
    padding: 1.5rem;
  }

  .dateContainer,
  .timeContainer {
    gap: 0.5rem;
  }
}

/* TODO: work on mobile image shadows */
@media (max-width: 430px) {
  h2 {
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: -0.4px;
  }

  .header {
    height: 48rem;
    background: linear-gradient(
        to top,
        var(--primary-color-gray) 0 67%,
        rgba(92, 103, 121, 0.1) 67%
      ),
      no-repeat url(/images/hero-bg-mobile.jpg);
    background-size: cover;
  }

  .hero-section {
    gap: 1rem;
  }

  #dine-logo img {
    width: 5.15rem;
    height: 2rem;
  }

  .hero-header {
    width: 60%;
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: -0.4px;
  }

  .hero-textbody {
    font-size: 1rem;
    line-height: 26px;
    padding-inline: 1.5rem;
    margin-bottom: 3rem;
  }

  .features-section {
    gap: 4rem;
    margin-inline: 1.5rem;
    margin-bottom: 3rem;
  }

  .feature-textbody h2 {
    font-size: 2rem;
    line-height: 40px;
  }

  .feature-textbody {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  #feature-background--first,
  #feature-background--second,
  .feature-image::before {
    display: none;
  }

  #feature--second {
    gap: 4.81rem;
  }

  .feature-image--2 {
    box-shadow: 0 10px 70px rgba(0, 0, 0, 0.5);
  }

  .menuHighlights {
    padding-inline: 1.5rem;
  }

  .menuHighlights-items {
    padding: 6rem 0 2rem 0;
  }

  .menuHighlights-textbody h2 {
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: -0.4px;
  }

  .menuHighlights-textbody {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  .menuHighlights-item {
    padding-bottom: 3.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .menuHighlights-items .menuHighlights-item:last-child {
    padding-bottom: 0;
  }

  .item-image {
    max-height: 15.3125rem;
    max-width: 20.4375rem;
    flex: 1 1 15.3125rem;
  }

  .item-image::after {
    display: none;
  }

  .item-textbody {
    text-align: center;
  }

  .events {
    margin-inline: 1.5rem;
  }

  .events::before {
    display: none;
  }

  .events-background {
    display: none;
  }

  .events-textbody .event-description h2 {
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: -0.4px;
  }

  .event-description p {
    font-size: 1rem;
    line-height: 26px;
  }

  .events-textbody {
    padding: 0;
  }

  .events-cta {
    height: 4rem;
    width: 15.3125rem;
    text-align: center;
  }

  .events-selections {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .events-selections label {
    padding-bottom: 0.5rem;
  }

  .callToAction-section {
    height: 23.4375rem;
    background: url(/images/ready-bg-mobile.jpg) no-repeat;
    background-size: cover;
  }

  .callToAction h2 {
    width: 70%;
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: -0.4px;
  }

  .reserveHero {
    text-align: center;
  }

  #dine-logo--reserve {
    margin-left: 0;
    margin-bottom: 2.5rem;
  }

  #dine-logo--reserve img {
    width: 5.125rem;
    height: 2rem;
  }

  .reserveHero-textbody h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.4px;
  }

  .reserveHero-textbody p {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  #hero-cta--reserve {
    display: inline-block;
    margin-top: 1.5rem;
  }

  .reserveContainer {
    height: 33.375rem;
  }

  .dateContainer,
  .timeContainer {
    margin-top: 1rem;
    flex-direction: column;
    align-items: start;
  }

  .footer-container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .footer-info {
    align-items: center;
  }
}

/* TODO: adjust background shape sizes to be smaller on smaller screens */
